:root{
  --primary1:rgb(163, 71, 86)
}

/* 重置所有標籤的樣式 */
* {
  margin: 0;
  padding: 0;
  /* 不累加內距padding與邊框border */
  box-sizing: border-box;
}

/* 重置字體 */
body {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 100%;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  /* height: auto; */
}

/* 重置相片 */
picture {
  display: block;
}

/* 重置連接 */
a {
  /* 將預設inline改成block */
  display: block;
  text-decoration: none;
  color: var(--deep);
}

/* 重置按鈕 */
button {
  border: none;
  background-color: transparent;
}

/* 重置select */
select {
  outline: none;
  font: inherit;
}

option {
  font: inherit;
}

label {
  display: block;
}

/* 按鈕手 */
button {
  cursor: pointer;
}

input {
  /* 用來校正placeholder */
  position: relative;
}

input:focus {
  outline: none;
}

input::placeholder {
  /* 垂直置中 */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* App區 */

.App {
  max-width: 1440px;
  margin: 0 auto;
}

/* 共用區 */
/* navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px;
}

.navbar .logo .link {
  font-size: 4rem;
  font-weight: 700;
  color: var(--primary1);
}

.navbar .link-box {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.navbar .link-box .link {
  font-size: 2rem;
  font-weight: 500;
}

/* home */

.home-wrap {
  padding: 40px 100px;
}

.home-wrap .page-title {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 30px;
}

.home-wrap .color-change-btn {
  padding: 20px 30px;
  background-color: var(--primary1);
  border-radius: 10px;
  font-size: 1.5rem;
}